version: '2'
services:
    tensorflow:
      container_name: tensorflow
      image: josephkphan/tensorflow-sentiment-analysis:latest
      ports:
          - "8888:8888"         # For Jupyter Notebooks (NOTE: Not turned on by entrypoint)
          - "6006:6006"         # For Tensorboard (NOTE: Not turned on by entrypoint)
    #   volumes:
    #       - ~Desktop/SchoolWork/TensorFlowResearch/:/notebooks # Used for development to not have to keep rebuilding image
      restart: always
